<!--
  <ion-grid fixed>
    <ion-row>
      <ion-col size="25">
        <ion-segment>
            <ion-segment-button *ngFor=" let categoria of categorias" value={{categoria}}>
              <ion-label>{{categoria}}</ion-label>
            </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<!-- menú superior -->
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-segment scrollable>
          <ion-segment-button *ngFor=" let categoria of categorias" value={{categoria}}>
            <ion-label>{{categoria}}</ion-label>
          </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- fin menú superior -->

  <ion-list *ngFor="let item of listaNoticias">
    <ion-item>
      <ion-checkbox color="primary" slot="start" (ionChange)="check($event, item)"></ion-checkbox>
      <ion-label color="primary" class="ion-text-wrap">
        <h3>{{ item.source.name}} </h3>
        <p> {{ item.title}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
