
  <ion-tab-bar slot="top">
    <ion-tab-button tab="general">
      <ion-label>GENERAL</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="business">
      <ion-label>BUSINESS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="technology">
      <ion-label>TECHNOLOGY</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="science">
      <ion-label>SCIENCE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of listaNoticias">
    <ion-item>
      <ion-checkbox color="primary" slot="start" (ionChange)="check($event, item)"></ion-checkbox>
      <ion-label color="primary" class="ion-text-wrap">
        <h3>{{ item.source.name}} </h3>
        <p> {{ item.title}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
